/* Colors:
 * BG: #9AD7B2;
 * Headline: #2D5850;
 * Section BG: #F5FFC1;
 * "White": EFF9F2;
 */
body {
 background: #FFFFF6;
 padding: 0;
 margin: 0;
 font-family: Cantarell, sans serif;
 color: #666;
 font-weight: 400;
 font-size: 110%;
 line-height: 150%;
}

h1, h2, h3 {
  font-family: Amatic SC, sans serif;
  text-align: center;
  color: #2D5850;
}

h3 {
  text-align: left;
  font-size: 2em;
}

h2 {
  font-size: 3em;
}

h1 {
  font-size: 4em;
}

.section {
  padding-top: 64px;
}

div.section.spaced {
  padding-top: 128px;
}

.center {
  width: 954px;
  margin: 0 auto;
}

.flow {
  float: right;
  margin-left: 1.5em;
}

.nav {
  width: 954px;
  transition: top 1s;
  -webkit-transition: top 1s;
  background-color: #9AD7B2;
  background: linear-gradient(to bottom, 
  rgba(154, 215, 178, 0) 0%, rgba(154, 215, 178, 1) 26%);
  background: -webkit-linear-gradient(top, 
  rgba(154, 215, 178, 0) 0%, rgba(154, 215, 178, 1) 26%);
  display: inline-block;
  margin: -24px auto 0 auto;
  padding: 1em 0;
}

.top {
  position: fixed;
  top: 24px;
  background: rgba(154, 215, 178, 1);
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.nav a:hover {
  text-shadow: .05em .05em #EFF9F2;
}

.nav>li {
  display: inline-block;
  font-size: 220%;
  margin: 0 1.1em;
  font-family: Amatic SC, sans serif;
  font-weight: 700;
  color: #2D5850;
}

.content {
  margin: 0 auto;
  padding: 2em;
}

