/* Colors:
 * BG: #9AD7B2;
 * Headline: #2D5850;
 * Section BG: #F5FFC1;
 * "White": EFF9F2;
 */
body {
 background: #9AD7B2;
 padding: 0;
 margin: 0;
 font-family: Merriweather, Times New Roman, serif;
 font-size: 110%;
}

h1, h2 {
  font-family: Raleway, Arial, sans serif;
  text-align: center;
  color: #2D5850;
}

h1 {
  font-size: 3em;
}

.section {
  padding-top: 64px;
}

div.section.spaced {
  padding-top: 128px;
}

.top {
  position: fixed;
  top: 0;
}

.center {
  width: 954px;
  margin: 0 auto;
}

.nav {
  width: 954px;
  background-color: #9AD7B2;
  background: linear-gradient(to bottom, rgba(154, 215, 178, 1) 74%, rgba(154, 215, 178, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(154, 215, 178, 1) 74%, rgba(154, 215, 178, 0) 100%);
  display: inline-block;
  margin: 0 auto;
  padding: 1em 0;
  border-top: 2px solid #2D5850;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.nav a:hover {
  text-shadow: .05em .05em #EFF9F2;
}

.nav>li {
  display: inline-block;
  font-size: 160%;
  margin: 0 1em;
  font-family: Raleway, Arial, sans serif;
  font-weight: 700;
  color: #2D5850;
}

.content {
  margin: 0 auto;
  padding: 2em;
  border-radius: 6px;
  background-color: #D3FDD7;
}
